# NCAAM match predictions

## Imports

In [1]:
import os
import re
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

## Import data

In [68]:
path_datasets = 'data/MDataFiles_Stage1/'

df_regular_compact = pd.read_csv(path_datasets + 'MRegularSeasonCompactResults.csv')
df_regular_detailed = pd.read_csv(path_datasets + 'MRegularSeasonDetailedResults.csv')
df_teams = pd.read_csv(path_datasets + 'MTeams.csv')
df_seeds = pd.read_csv(path_datasets + 'MNCAATourneySeeds.csv')
coaches = pd.read_csv(path_datasets + 'MTeamCoaches.csv')
df_tourney_compact = pd.read_csv(path_datasets + 'MNCAATourneyCompactResults.csv')
df_tourney_detailed = pd.read_csv(path_datasets + 'MNCAATourneyDetailedResults.csv')

In [74]:
df_seeds.groupby(by="TeamID").count()

        Season  Seed
TeamID
1101         1     1
1102         2     2
1103         4     4
1104        16    16
1105         1     1
1106         4     4
1107         5     5
1108         2     2
1110         3     3
1111         1     1
1112        32    32
1113         7     7
1114         5     5
1115         1     1
1116        20    20
1117         1     1
1120         9     9
1122         5     5
1123         6     6
1124         9     9
1125         8     8
1127         1     1
1129         6     6
1130        11    11
1131         5     5
1133         5     5
1135         1     1
1137         8     8
1138         4     4
1139        15    15
...        ...   ...
1427         4     4
1428        16    16
1429        11    11
1431        10    10
1433        13    13
1434         9     9
1435        13    13
1436         7     7
1437        23    23
1438        18    18
1439         7     7
1441         1     1
1443        12    12
1444         3     3
1447         1     1
1448        15    15
1449        11    11
1450         3     3
1451         6     6
1452        16    16
1453         5     5
1454         4     4
1455        11    11
1457        10    10
1458        22    22
1459         5     5
1460         3     3
1461         4     4
1462        26    26
1463         2     2

[300 rows x 2 columns]

In [3]:
df_regular_compact.describe()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,NumOT
count,161552.000000,161552.000000,161552.000000,161552.000000,161552.000000,161552.000000,161552.000000
mean,2003.228731,74.665359,1286.919004,76.795125,1282.637498,64.692526,0.045137
std,10.058660,33.670352,104.521630,12.066260,104.742961,11.349610,0.249751
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1995.000000,47.000000,1198.000000,69.000000,1191.000000,57.000000,0.000000
50%,2004.000000,77.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2012.000000,103.000000,1380.000000,84.000000,1375.000000,72.000000,0.000000
max,2019.000000,132.000000,1466.000000,186.000000,1466.000000,150.000000,6.000000

### Check data sanity

In [4]:
print('Regular Season compact Results :\n', df_regular_compact.isnull().sum().T)
print("-"*10)

print('Regular Season detailed Results :\n', df_regular_detailed.isnull().sum().T)
print("-"*10)

print('Teamsts :\n', df_teams.isnull().sum().T)
print("-"*10)

print('Seeds :\n', df_seeds.isnull().sum().T)
print("-"*10)

print('Coaches :\n', coaches.isnull().sum().T)
print("-"*10)

print('Tourney compact Results :\n', df_tourney_compact.isnull().sum().T)
print("-"*10)

print('Tourney compact Results :\n', df_tourney_detailed .isnull().sum().T)
print("-"*10)

Regular Season compact Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
dtype: int64
----------
Regular Season detailed Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
WFGM       0
WFGA       0
WFGM3      0
WFGA3      0
WFTM       0
WFTA       0
WOR        0
WDR        0
WAst       0
WTO        0
WStl       0
WBlk       0
WPF        0
LFGM       0
LFGA       0
LFGM3      0
LFGA3      0
LFTM       0
LFTA       0
LOR        0
LDR        0
LAst       0
LTO        0
LStl       0
LBlk       0
LPF        0
dtype: int64
----------
Teamsts :
 TeamID           0
TeamName         0
FirstD1Season    0
LastD1Season     0
dtype: int64
----------
Seeds :
 Season    0
Seed      0
TeamID    0
dtype: int64
----------
Coaches :
 Season         0
TeamID         0
FirstDayNum    0
LastDayNum     0
CoachName      0
dtype: int64
----------
Tourney compact Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
dtype: int64
----------
Tourney compact Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
WFGM       0
WFGA       0
WFGM3      0
WFGA3      0
WFTM       0
WFTA       0
WOR        0
WDR        0
WAst       0
WTO        0
WStl       0
WBlk       0
WPF        0
LFGM       0
LFGA       0
LFGM3      0
LFGA3      0
LFTM       0
LFTA       0
LOR        0
LDR        0
LAst       0
LTO        0
LStl       0
LBlk       0
LPF        0
dtype: int64
----------

### Concat match details in one dataframe

In [5]:
# add match type
df_regular_detailed["Type"] = "regular"
df_tourney_detailed["Type"] = "tourney"

# We join the data from the regular matchs and tourney matchs
df_match_detailed = pd.concat([df_regular_detailed, df_tourney_detailed])

# We create an idea for a match between two teams : team1_team2(team1 < team2)
df_match_detailed["Match"] = df_match_detailed \
                                .apply(lambda row: "_".join(map(str, sorted([row["WTeamID"], row["LTeamID"]]))), axis=1)

df_match_detailed["Team1"] = df_match_detailed["Match"].apply(lambda x: int(x.split("_")[0]))
df_match_detailed["Team2"] = df_match_detailed["Match"].apply(lambda x: int(x.split("_")[1]))

df_match_detailed["Label"] = df_match_detailed.apply(lambda row: 1 if row["WTeamID"] == row["Team1"] else 0, axis=1)

# WLoc to numeric type
df_match_detailed["WLoc"] = df_match_detailed["WLoc"].map({"H": 0, "A": 1, "N": 3})
# Type to numeric type
df_match_detailed["Type"] = df_match_detailed["Type"].map({"regular": 0, "tourney": 1})

## Create interesting metrics

Features initiales Luc:

* % de victoires
* % de victoires à domicile et à l'exterieur
* Nombre de points marqués et encaissés en moyenne
* Nombre d'interceptions et de rebonds
* % de réussites à 3pts
* Nombre de lancers francs tentés/marqués

Features à ajouter possiblement:

* L'équipe joue à domicile ?
* % de victoire contre une équipe de rang équivalent (à 1 ou deux seed près?)

Le travail se répartie entre les différentes personnes du groupe (je prend les trois dernières)

### Nombre d'interceptions et de rebonds par match et par saison

Pour créer ces paramètres nous avons besoin des dataframes suivant :

Comptés commme une interception : blocks, steals

Comptés comme rebond : offensive_rebounds, defensive_rebounds

In [6]:
df_match_detailed.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'Type', 'Match', 'Team1', 'Team2', 'Label'],
      dtype='object')

#### Nombre de rebond en moyenne par match de chaque équipe sur chaque saison

In [7]:
# studied_parameter = "DR"
# data = df_match_detailed[["Season", "WTeamID", "LTeamID", "WDR" , "LDR"]].values
# winners_rebound_count = np.zeros(data.shape[0])
# losers_rebound_count = np.zeros(data.shape[0])
# for i, match in enumerate(data):
#     season = match[0]
#     winner = match[1]
#     loser = match[2]
    
#     previous_seasons = data[data[:,0] < season]
#     winner_previous_wins = previous_seasons[previous_seasons[:,1] == winner]
#     winner_previous_loses = previous_seasons[previous_seasons[:,2] == winner]
#     loser_previous_wins = previous_seasons[previous_seasons[:,1] == loser]
#     loser_previous_loses = previous_seasons[previous_seasons[:,2] == loser]
    
#     winner_rebound_count = np.sum(winner_previous_wins) + np.sum(winner_previous_loses)
#     loser_rebound_count = np.sum(loser_previous_wins) + np.sum(winner_previous_loses)
    
#     winners_rebound_count[i] = winner_rebound_count
#     losers_rebound_count[i] = loser_rebound_count

In [8]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WDR" , "LDR", "WOR", 'LOR']]
df_rebound_count_metric = pd.DataFrame(columns=["Season", "TeamID", "rebound_count"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_tmp.Season == season]
    for team in df_teams.TeamID.unique():
        rebound_count_win = df_season[["WDR", "WOR"]].loc[df_season.WTeamID == team].mean().sum()
        rebound_count_lose = df_season[["LDR", "LOR"]].loc[df_season.LTeamID == team].mean().sum()
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "rebound_count":[rebound_count_win + rebound_count_lose]})                                                                 
        df_rebound_count_metric = df_rebound_count_metric.append(new_line, ignore_index=True)

In [9]:
df_rebound_count_metric.head()

  Season TeamID  rebound_count
0   2003   1101       0.000000
1   2003   1102      42.541667
2   2003   1103      59.489011
3   2003   1104      73.274510
4   2003   1105      75.639098

#### Nombre de d'intercéptions en moyenne par match de chaque équipe sur chaque saison

In [10]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WBlk" , "LBlk", "WStl", 'LStl']]
df_intercept_count_metric = pd.DataFrame(columns=["Season", "TeamID", "intercept_count"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_tmp.Season == season]
    for team in df_teams.TeamID.unique():
        intercept_count_win = df_season[["WBlk", "WStl"]].loc[df_season.WTeamID == team].mean().sum()
        intercept_count_lose = df_season[["LBlk", "LStl"]].loc[df_season.LTeamID == team].mean().sum()
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "intercept_count":[intercept_count_win + intercept_count_lose]})                                                                 
        df_intercept_count_metric = df_intercept_count_metric.append(new_line, ignore_index=True)

In [11]:
df_intercept_count_metric.shape

(6239, 3)

### Pourcentage de réussites à 3 points par match et par saison

In [12]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WFGM3" , "LFGM3", "WFGA3", 'LFGA3']]
df_3_points_rate_metric = pd.DataFrame(columns=["Season", "TeamID", "3_points_rate"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_tmp.Season == season]
    for team in df_teams.TeamID.unique():
        
        three_points_made_count_win = df_season["WFGM3"].loc[df_season.WTeamID == team].mean()
        three_points_made_count_lose = df_season["LFGM3"].loc[df_season.LTeamID == team].mean()
        
        three_points_attempted_count_win = df_season["WFGA3"].loc[df_season.WTeamID == team].mean()
        three_points_attempted_count_lose = df_season["LFGA3"].loc[df_season.LTeamID == team].mean()
        
        three_points_rate = (three_points_made_count_win + three_points_made_count_lose)/ (three_points_attempted_count_win + three_points_attempted_count_lose)
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "3_points_rate":[three_points_rate]})                                                                 
        df_3_points_rate_metric = df_3_points_rate_metric.append(new_line, ignore_index=True)

In [13]:
df_3_points_rate_metric.head()

  Season TeamID  3_points_rate
0   2003   1101            NaN
1   2003   1102       0.386952
2   2003   1103       0.340024
3   2003   1104       0.318412
4   2003   1105       0.379061

### Pourcentage de réussites au lancé franc par match et par saison

In [14]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WFTM" , "LFTM", "WFTA", 'LFTA']]
df_free_throw_rate_metric = pd.DataFrame(columns=["Season", "TeamID", "free_throw_rate"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_tmp.Season == season]
    for team in df_teams.TeamID.unique():
        
        free_throw_made_count_win = df_season["WFTM"].loc[df_season.WTeamID == team].mean()
        free_throw_made_count_lose = df_season["LFTM"].loc[df_season.LTeamID == team].mean()
        
        free_throw_attempted_count_win = df_season["WFTA"].loc[df_season.WTeamID == team].mean()
        free_throw_attempted_count_lose = df_season["LFTA"].loc[df_season.LTeamID == team].mean()
        
        free_throw_rate = (free_throw_made_count_win + free_throw_made_count_lose)/ (free_throw_attempted_count_win + free_throw_attempted_count_lose)
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "free_throw_rate":[free_throw_rate]})                                                                 
        df_free_throw_rate_metric = df_free_throw_rate_metric.append(new_line, ignore_index=True)

### Merge all metrics in one DataFrame

In [15]:
df_metrics = df_rebound_count_metric
metrics = [df_intercept_count_metric, df_3_points_rate_metric, df_free_throw_rate_metric]
for metric in metrics:
    df_metrics = pd.merge(df_metrics, metric)

In [16]:
df_metrics

,Season,TeamID,rebound_count,intercept_count,3_points_rate,free_throw_rate
0,2003,1101,0.000000,0.000000,NaN,NaN
1,2003,1102,42.541667,16.104167,0.386952,0.651839
2,2003,1103,59.489011,19.153846,0.340024,0.735753
3,2003,1104,73.274510,20.161765,0.318412,0.713187
4,2003,1105,75.639098,23.969925,0.379061,0.719524
5,2003,1106,72.902564,23.220513,0.347425,0.644421
6,2003,1107,60.476190,17.761905,0.365027,0.748752
7,2003,1108,72.710526,23.906015,0.327446,0.673882
8,2003,1109,0.000000,0.000000,NaN,NaN
9,2003,1110,66.178571,16.151786,0.374904,0.682747
10,2003,1111,75.262500,28.000000,0.309035,0.717893
11,2003,1112,83.571429,24.928571,0.323040,0.706727
12,2003,1113,72.271930,18.302632,0.317598,0.669540
13,2003,1114,67.041667,17.708333,0.359595,0.690589
14,2003,1115,63.875000,22.500000,0.297430,0.655471
15,2003,1116,78.754386,20.350877,0.320687,0.617450
16,2003,1117,63.206061,17.933333,0.377481,0.740921
17,2003,1118,0.000000,0.000000,NaN,NaN
18,2003,1119,58.833333,14.469697,0.399377,0.727941
19,2003,1120,67.678571,24.476190,0.338215,0.670237
20,2003,1121,0.000000,0.000000,NaN,NaN
21,2003,1122,67.925000,23.175000,0.325660,0.689462
22,2003,1123,70.475113,14.669683,0.328798,0.728134
23,2003,1124,69.785714,22.571429,0.341857,0.725051
24,2003,1125,68.187500,21.520833,0.365977,0.697790
25,2003,1126,64.920455,19.931818,0.368079,0.716605
26,2003,1127,71.549451,25.796703,0.347457,0.675103
27,2003,1128,63.705882,23.137255,0.346783,0.720179
28,2003,1129,66.145833,21.125000,0.303411,0.702475
29,2003,1130,71.919192,19.550505,0.330240,0.680375
...,...,...,...,...,...,...
6209,2019,1438,61.542857,18.819048,0.340562,0.727670
6210,2019,1439,63.756410,17.888889,0.370414,0.763348
6211,2019,1440,67.482143,16.964286,0.375971,0.730424
6212,2019,1441,71.913333,12.300000,0.414237,0.707472
6213,2019,1442,73.119048,18.922619,0.401522,0.700634
6214,2019,1443,73.142857,23.814286,0.322496,0.723666
6215,2019,1444,77.815476,14.583333,0.326851,0.693665
6216,2019,1445,0.000000,0.000000,NaN,NaN
6217,2019,1446,0.000000,0.000000,NaN,NaN
6218,2019,1447,71.941176,18.807487,0.307411,0.752123
6219,2019,1448,76.872727,15.031818,0.315922,0.729385
6220,2019,1449,60.185185,27.481481,0.334158,0.682723
6221,2019,1450,70.025974,17.047619,0.368390,0.752310
6222,2019,1451,68.754167,19.183333,0.351734,0.741189
6223,2019,1452,79.657143,19.942857,0.324133,0.686048
6224,2019,1453,71.237500,22.208333,0.340379,0.697838
6225,2019,1454,69.761364,15.840909,0.360118,0.765670
6226,2019,1455,74.879699,16.150376,0.305738,0.725499
6227,2019,1456,68.171946,19.484163,0.355050,0.666542
6228,2019,1457,77.216667,12.883333,0.361808,0.725499
6229,2019,1458,68.976285,18.193676,0.335607,0.619981
6230,2019,1459,67.066667,14.755556,0.372319,0.718598
6231,2019,1460,67.991903,15.987854,0.337888,0.735524
6232,2019,1461,62.589286,16.696429,0.372687,0.725608
6233,2019,1462,71.955556,18.144444,0.330164,0.686089
6234,2019,1463,74.345238,19.785714,0.338889,0.753287
6235,2019,1464,74.200000,19.400000,0.347670,0.706271
6236,2019,1465,72.726190,13.952381,0.352176,0.772271
6237,2019,1466,73.220779,18.006494,0.310192,0.676754
6238,2019,1467,0.000000,0.000000,NaN,NaN

## Metrics to features

In [82]:
def mean_year_offset_metric(df_metrics, offset):
    df_offset = pd.DataFrame()
    for season in df_metrics.Season.unique():
        df_offset_season = df_metrics.loc[(df_metrics.Season < season)& (df_metrics.Season > season-offset)].groupby(by="TeamID").mean()
        df_offset_season["Season"] = season
        df_offset = pd.concat([df_offset, df_offset_season], join="outer")
    return df_offset.reset_index()

In [83]:
df_offset = mean_year_offset_metric(df_metrics, offset)
df_offset

,TeamID,rebound_count,intercept_count,3_points_rate,free_throw_rate,Season
0,1101,0.000000,0.000000,NaN,NaN,2004
1,1102,42.541667,16.104167,0.386952,0.651839,2004
2,1103,59.489011,19.153846,0.340024,0.735753,2004
3,1104,73.274510,20.161765,0.318412,0.713187,2004
4,1105,75.639098,23.969925,0.379061,0.719524,2004
5,1106,72.902564,23.220513,0.347425,0.644421,2004
6,1107,60.476190,17.761905,0.365027,0.748752,2004
7,1108,72.710526,23.906015,0.327446,0.673882,2004
8,1109,0.000000,0.000000,NaN,NaN,2004
9,1110,66.178571,16.151786,0.374904,0.682747,2004
10,1111,75.262500,28.000000,0.309035,0.717893,2004
11,1112,83.571429,24.928571,0.323040,0.706727,2004
12,1113,72.271930,18.302632,0.317598,0.669540,2004
13,1114,67.041667,17.708333,0.359595,0.690589,2004
14,1115,63.875000,22.500000,0.297430,0.655471,2004
15,1116,78.754386,20.350877,0.320687,0.617450,2004
16,1117,63.206061,17.933333,0.377481,0.740921,2004
17,1118,0.000000,0.000000,NaN,NaN,2004
18,1119,58.833333,14.469697,0.399377,0.727941,2004
19,1120,67.678571,24.476190,0.338215,0.670237,2004
20,1121,0.000000,0.000000,NaN,NaN,2004
21,1122,67.925000,23.175000,0.325660,0.689462,2004
22,1123,70.475113,14.669683,0.328798,0.728134,2004
23,1124,69.785714,22.571429,0.341857,0.725051,2004
24,1125,68.187500,21.520833,0.365977,0.697790,2004
25,1126,64.920455,19.931818,0.368079,0.716605,2004
26,1127,71.549451,25.796703,0.347457,0.675103,2004
27,1128,63.705882,23.137255,0.346783,0.720179,2004
28,1129,66.145833,21.125000,0.303411,0.702475,2004
29,1130,71.919192,19.550505,0.330240,0.680375,2004
...,...,...,...,...,...,...
5842,1438,64.321248,17.912143,0.346673,0.727353,2019
5843,1439,63.929625,15.489306,0.382053,0.695677,2019
5844,1440,68.986685,22.576284,0.339823,0.731708,2019
5845,1441,70.298793,21.322721,0.342610,0.693561,2019
5846,1442,68.619266,16.535889,0.379832,0.714960,2019
5847,1443,71.913111,17.034017,0.354116,0.685963,2019
5848,1444,69.770100,17.218303,0.359908,0.713103,2019
5849,1445,0.000000,0.000000,NaN,NaN,2019
5850,1446,0.000000,0.000000,NaN,NaN,2019
5851,1447,77.235516,18.927183,0.320343,0.701741,2019
5852,1448,74.342155,19.967467,0.358161,0.706151,2019
5853,1449,72.733536,24.742397,0.340152,0.695260,2019
5854,1450,67.140582,16.221793,0.369401,0.733007,2019
5855,1451,65.844612,16.907975,0.373826,0.726164,2019
5856,1452,73.780508,25.346627,0.325706,0.692780,2019
5857,1453,74.762859,23.105987,0.329390,0.686881,2019
5858,1454,67.293216,15.550347,0.350789,0.715083,2019
5859,1455,75.330503,19.046427,0.333375,0.725680,2019
5860,1456,66.362407,18.299795,0.383951,0.734818,2019
5861,1457,69.487622,21.680846,0.358301,0.721582,2019
5862,1458,66.655905,17.213970,0.342392,0.692931,2019
5863,1459,63.225212,15.548131,0.386094,0.756904,2019
5864,1460,65.442712,15.553196,0.352259,0.712834,2019
5865,1461,65.596273,17.381755,0.343331,0.719767,2019
5866,1462,74.593072,17.641844,0.337026,0.725835,2019
5867,1463,71.635358,18.662299,0.336633,0.708374,2019
5868,1464,69.569174,19.080402,0.363246,0.694310,2019
5869,1465,0.000000,0.000000,NaN,NaN,2019
5870,1466,0.000000,0.000000,NaN,NaN,2019
5871,1467,0.000000,0.000000,NaN,NaN,2019

In [143]:
df_tmp = df_match_detailed[["Season", "Team1", "Team2"]]

mets = df_offset.columns[df_offset.columns != "Season"]
mets = mets[mets != "TeamID"]

df_metrics_1 = df_offset.rename(columns={"TeamID":"Team1"})
df_metrics_2 = df_offset.rename(columns={"TeamID":"Team2"})
df_metrics_1 = df_offset.rename(columns={metric:"Team1_{}".format(metric) for metric in mets})
df_metrics_2 = df_offset.rename(columns={metric:"Team2_{}".format(metric) for metric in mets})

df_metrics_1 = df_metrics_1.rename(columns={"TeamID":"Team1"})
df_metrics_2 = df_metrics_2.rename(columns={"TeamID":"Team2"})

df_tmp = pd.merge(left=df_tmp, right=df_metrics_1, how='left', on=['Season', 'Team1'])
df_matches = pd.merge(left=df_tmp, right=df_metrics_2, on=['Season', 'Team2'])

In [144]:
df_matches

,Season,Team1,Team2,Team1_rebound_count,Team1_intercept_count,Team1_3_points_rate,Team1_free_throw_rate,Team2_rebound_count,Team2_intercept_count,Team2_3_points_rate,Team2_free_throw_rate
0,2004,1266,1385,73.259259,17.629630,0.373151,0.789614,75.629808,28.024038,0.313264,0.661278
1,2004,1193,1385,72.794258,25.282297,0.326380,0.719717,75.629808,28.024038,0.313264,0.661278
2,2004,1220,1385,82.714286,17.708333,0.332156,0.594527,75.629808,28.024038,0.313264,0.661278
3,2004,1181,1385,71.335165,25.153846,0.338082,0.693138,75.629808,28.024038,0.313264,0.661278
4,2004,1383,1385,67.482143,25.857143,0.360137,0.694078,75.629808,28.024038,0.313264,0.661278
5,2004,1210,1385,77.571429,26.857143,0.347162,0.677365,75.629808,28.024038,0.313264,0.661278
6,2004,1335,1385,62.303030,17.863636,0.380634,0.719588,75.629808,28.024038,0.313264,0.661278
7,2004,1221,1385,69.480000,23.600000,0.322540,0.690943,75.629808,28.024038,0.313264,0.661278
8,2004,1310,1385,72.995098,21.877451,0.322898,0.687687,75.629808,28.024038,0.313264,0.661278
9,2004,1371,1385,71.607843,20.686275,0.305501,0.687282,75.629808,28.024038,0.313264,0.661278
10,2004,1274,1385,73.807487,28.743316,0.341020,0.715301,75.629808,28.024038,0.313264,0.661278
11,2004,1207,1385,79.033333,31.385714,0.326307,0.733408,75.629808,28.024038,0.313264,0.661278
12,2004,1353,1385,72.833333,29.291667,0.338228,0.663646,75.629808,28.024038,0.313264,0.661278
13,2004,1338,1385,69.750000,23.664286,0.305801,0.646730,75.629808,28.024038,0.313264,0.661278
14,2004,1130,1385,71.919192,19.550505,0.330240,0.680375,75.629808,28.024038,0.313264,0.661278
15,2004,1207,1385,79.033333,31.385714,0.326307,0.733408,75.629808,28.024038,0.313264,0.661278
16,2004,1163,1385,82.621739,25.617391,0.354803,0.664009,75.629808,28.024038,0.313264,0.661278
17,2004,1344,1385,69.447115,28.451923,0.334960,0.785228,75.629808,28.024038,0.313264,0.661278
18,2004,1130,1385,71.919192,19.550505,0.330240,0.680375,75.629808,28.024038,0.313264,0.661278
19,2004,1323,1385,74.650000,23.866667,0.376828,0.746977,75.629808,28.024038,0.313264,0.661278
20,2004,1272,1448,79.434783,23.751553,0.325157,0.655311,79.673333,22.753333,0.323174,0.759867
21,2004,1189,1448,67.566667,19.633333,0.328029,0.672087,79.673333,22.753333,0.323174,0.759867
22,2004,1231,1448,70.454212,18.069597,0.342262,0.715909,79.673333,22.753333,0.323174,0.759867
23,2004,1350,1448,66.707692,20.943590,0.338299,0.700409,79.673333,22.753333,0.323174,0.759867
24,2004,1374,1448,73.638009,25.009050,0.303925,0.715000,79.673333,22.753333,0.323174,0.759867
25,2004,1314,1448,69.709804,25.494118,0.346006,0.660967,79.673333,22.753333,0.323174,0.759867
26,2004,1299,1448,66.640000,16.680000,0.401973,0.542408,79.673333,22.753333,0.323174,0.759867
27,2004,1307,1448,64.111111,17.055556,0.368421,0.745721,79.673333,22.753333,0.323174,0.759867
28,2004,1135,1448,65.887701,22.497326,0.361563,0.732661,79.673333,22.753333,0.323174,0.759867
29,2004,1155,1448,71.353846,19.523077,0.345100,0.657326,79.673333,22.753333,0.323174,0.759867
...,...,...,...,...,...,...,...,...,...,...,...
83909,2019,1142,1169,68.410363,17.522344,0.360039,0.722743,67.411905,18.198909,0.359684,0.746605
83910,2019,1168,1169,70.531304,17.081981,0.325939,0.709054,67.411905,18.198909,0.359684,0.746605
83911,2019,1142,1169,68.410363,17.522344,0.360039,0.722743,67.411905,18.198909,0.359684,0.746605
83912,2019,1168,1169,70.531304,17.081981,0.325939,0.709054,67.411905,18.198909,0.359684,0.746605
83913,2019,1123,1132,71.966560,17.201138,0.354023,0.699584,72.473535,18.978026,0.346033,0.693746
83914,2019,1103,1132,69.946100,17.982166,0.356889,0.674106,72.473535,18.978026,0.346033,0.693746
83915,2019,1103,1132,69.946100,17.982166,0.356889,0.674106,72.473535,18.978026,0.346033,0.693746
83916,2019,1123,1132,71.966560,17.201138,0.354023,0.699584,72.473535,18.978026,0.346033,0.693746
83917,2019,1144,1149,62.974856,19.261000,0.362184,0.719213,69.059321,16.320315,0.341595,0.684348
83918,2019,1106,1108,77.304445,18.999513,0.327088,0.654098,70.565220,18.048974,0.323532,0.689637
83919,2019,1105,1108,71.336640,13.431845,0.335598,0.688456,70.565220,18.048974,0.323532,0.689637
83920,2019,1106,1108,77.304445,18.999513,0.327088,0.654098,70.565220,18.048974,0.323532,0.689637
83921,2019,1105,1108,71.336640,13.431845,0.335598,0.688456,70.565220,18.048974,0.323532,0.689637
83922,2019,1111,1114,74.018267,15.554125,0.345290,0.695366,67.055537,17.110117,0.343293,0.713508
83923,2019,1122,1125,68.325564,18.501798,0.346535,0.674605,67.028770,14.677000,0.340692,0.728914
83924,2019,1122,1125,68.325564,18.501798,0.346535,0.674605,67.028770,14.677000,0.340692,0.728914
83925,2019,1170,1186,65.949572,18.958078,0.350950,0.694081,66.365297,18.112371,0.371347,0.732735
83926,2019,1170,1186,65.949572,18.958078,0.350950,0.694081,66.365297,18.112371,0.371347,0.732735
83927,2019,1123,1138,71.966560,17.201138,0.354023,0.699584,76.224500,19.989951,0.337810,0.698923
83928,2019,1132,1138,72.473535,18.978026,0.346033,0.693746,76.224500,19.989951,0.337810,0.698923
83929,2019,1103,1138,69.946100,17.982166,0.356889,0.674106,76.224500,19.989951,0.337810,0.698923
83930,2019,1103,1138,69.946100,17.982166,0.356889,0.674106,76.224500,19.989951,0.337810,0.698923
83931,2019,1132,1138,72.473535,18.978026,0.346033,0.693746,76.224500,19.989951,0.337810,0.698923
83932,2019,1103,1138,69.946100,17.982166,0.356889,0.674106,76.224500,19.989951,0.337810,0.698923
83933,2019,1132,1138,72.473535,18.978026,0.346033,0.693746,76.224500,19.989951,0.337810,0.698923
83934,2019,1113,1138,69.486275,17.608742,0.353595,0.708591,76.224500,19.989951,0.337810,0.698923
83935,2019,1112,1113,72.165819,18.294051,0.343812,0.737543,69.486275,17.608742,0.353595,0.708591
83936,2019,1112,1113,72.165819,18.294051,0.343812,0.737543,69.486275,17.608742,0.353595,0.708591
83937,2019,1104,1116,70.602077,21.058317,0.324281,0.669284,69.819413,23.196339,0.366632,0.713661
83938,2018,1116,1139,70.585352,24.783472,0.360135,0.725497,68.646842,18.080255,0.348199,0.702119