# NCAAM match predictions

## Imports

In [1]:
import os
import re
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

## Import data

In [5]:
path_datasets = 'data/MDataFiles_Stage1/'

df_regular_compact = pd.read_csv(path_datasets + 'MRegularSeasonCompactResults.csv')
df_regular_detailed = pd.read_csv(path_datasets + 'MRegularSeasonDetailedResults.csv')
df_teams = pd.read_csv(path_datasets + 'MTeams.csv')
df_seeds = pd.read_csv(path_datasets + 'MNCAATourneySeeds.csv')
coaches = pd.read_csv(path_datasets + 'MTeamCoaches.csv')
df_tourney_compact = pd.read_csv(path_datasets + 'MNCAATourneyCompactResults.csv')
df_tourney_detailed = pd.read_csv(path_datasets + 'MNCAATourneyDetailedResults.csv')

In [7]:
df_regular_compact.describe()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,NumOT
count,161552.000000,161552.000000,161552.000000,161552.000000,161552.000000,161552.000000,161552.000000
mean,2003.228731,74.665359,1286.919004,76.795125,1282.637498,64.692526,0.045137
std,10.058660,33.670352,104.521630,12.066260,104.742961,11.349610,0.249751
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1995.000000,47.000000,1198.000000,69.000000,1191.000000,57.000000,0.000000
50%,2004.000000,77.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2012.000000,103.000000,1380.000000,84.000000,1375.000000,72.000000,0.000000
max,2019.000000,132.000000,1466.000000,186.000000,1466.000000,150.000000,6.000000

### Check data sanity

In [9]:
print('Regular Season compact Results :\n', df_regular_compact.isnull().sum().T)
print("-"*10)

print('Regular Season detailed Results :\n', df_regular_detailed.isnull().sum().T)
print("-"*10)

print('Teamsts :\n', df_teams.isnull().sum().T)
print("-"*10)

print('Seeds :\n', df_seeds.isnull().sum().T)
print("-"*10)

print('Coaches :\n', coaches.isnull().sum().T)
print("-"*10)

print('Tourney compact Results :\n', df_tourney_compact.isnull().sum().T)
print("-"*10)

print('Tourney compact Results :\n', df_tourney_detailed .isnull().sum().T)
print("-"*10)

Regular Season compact Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
dtype: int64
----------
Regular Season detailed Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
WFGM       0
WFGA       0
WFGM3      0
WFGA3      0
WFTM       0
WFTA       0
WOR        0
WDR        0
WAst       0
WTO        0
WStl       0
WBlk       0
WPF        0
LFGM       0
LFGA       0
LFGM3      0
LFGA3      0
LFTM       0
LFTA       0
LOR        0
LDR        0
LAst       0
LTO        0
LStl       0
LBlk       0
LPF        0
dtype: int64
----------
Teamsts :
 TeamID           0
TeamName         0
FirstD1Season    0
LastD1Season     0
dtype: int64
----------
Seeds :
 Season    0
Seed      0
TeamID    0
dtype: int64
----------
Coaches :
 Season         0
TeamID         0
FirstDayNum    0
LastDayNum     0
CoachName      0
dtype: int64
----------
Tourney compact Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
dtype: int64
----------
Tourney compact Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
WFGM       0
WFGA       0
WFGM3      0
WFGA3      0
WFTM       0
WFTA       0
WOR        0
WDR        0
WAst       0
WTO        0
WStl       0
WBlk       0
WPF        0
LFGM       0
LFGA       0
LFGM3      0
LFGA3      0
LFTM       0
LFTA       0
LOR        0
LDR        0
LAst       0
LTO        0
LStl       0
LBlk       0
LPF        0
dtype: int64
----------

### Concat match details in one dataframe

In [14]:
# add match type
df_regular_detailed["Type"] = "regular"
df_tourney_detailed["Type"] = "tourney"

# We join the data from the regular matchs and tourney matchs
df_match_detailed = pd.concat([df_regular_detailed, df_tourney_detailed])

# We create an idea for a match between two teams : team1_team2(team1 < team2)
df_match_detailed["Match"] = df_match_detailed \
                                .apply(lambda row: "_".join(map(str, sorted([row["WTeamID"], row["LTeamID"]]))), axis=1)

df_match_detailed["Team1"] = df_match_detailed["Match"].apply(lambda x: int(x.split("_")[0]))
df_match_detailed["Team2"] = df_match_detailed["Match"].apply(lambda x: int(x.split("_")[1]))

df_match_detailed["Label"] = df_match_detailed.apply(lambda row: 1 if row["WTeamID"] == row["Team1"] else 0, axis=1)

# WLoc to numeric type
df_match_detailed["WLoc"] = df_match_detailed["WLoc"].map({"H": 0, "A": 1, "N": 3})
# Type to numeric type
df_match_detailed["Type"] = df_match_detailed["Type"].map({"regular": 0, "tourney": 1})

## Feature engineering

Features initiales Luc:

* % de victoires
* % de victoires à domicile et à l'exterieur
* Nombre de points marqués et encaissés en moyenne
* Nombre d'interceptions et de rebonds
* % de réussites à 3pts
* Nombre de lancers francs tentés/marqués

Features à ajouter possiblement:

* L'équipe joue à domicile ?
* % de victoire contre une équipe de rang équivalent (à 1 ou deux seed près?)

Le travail se répartie entre les différentes personnes du groupe (je prend les trois dernières)

### Nombre d'interceptions et de rebonds par match et par saison

Pour créer ces paramètres nous avons besoin des dataframes suivant :

Comptés commme une interception : blocks, steals

Comptés comme rebond : offensive_rebounds, defensive_rebounds

In [16]:
df_match_detailed.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LAst,LTO,LStl,LBlk,LPF,Type,Match,Team1,Team2,Label
0,2003,10,1104,68,1328,62,3,0,27,58,...,8,18,9,2,20,0,1104_1328,1104,1328,1
1,2003,10,1272,70,1393,63,3,0,26,62,...,7,12,8,6,16,0,1272_1393,1272,1393,1
2,2003,11,1266,73,1437,61,3,0,24,58,...,9,12,2,5,23,0,1266_1437,1266,1437,1
3,2003,11,1296,56,1457,50,3,0,18,38,...,9,19,4,3,23,0,1296_1457,1296,1457,1
4,2003,11,1400,77,1208,71,3,0,30,61,...,12,10,7,1,14,0,1208_1400,1208,1400,0

In [18]:
df_match_detailed.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'Type', 'Match', 'Team1', 'Team2', 'Label'],
      dtype='object')

#### Nombre de rebond en moyenne par match de chaque équipe sur chaque saison

In [38]:
# studied_parameter = "DR"
# data = df_match_detailed[["Season", "WTeamID", "LTeamID", "WDR" , "LDR"]].values
# winners_rebound_count = np.zeros(data.shape[0])
# losers_rebound_count = np.zeros(data.shape[0])
# for i, match in enumerate(data):
#     season = match[0]
#     winner = match[1]
#     loser = match[2]
    
#     previous_seasons = data[data[:,0] < season]
#     winner_previous_wins = previous_seasons[previous_seasons[:,1] == winner]
#     winner_previous_loses = previous_seasons[previous_seasons[:,2] == winner]
#     loser_previous_wins = previous_seasons[previous_seasons[:,1] == loser]
#     loser_previous_loses = previous_seasons[previous_seasons[:,2] == loser]
    
#     winner_rebound_count = np.sum(winner_previous_wins) + np.sum(winner_previous_loses)
#     loser_rebound_count = np.sum(loser_previous_wins) + np.sum(winner_previous_loses)
    
#     winners_rebound_count[i] = winner_rebound_count
#     losers_rebound_count[i] = loser_rebound_count

In [89]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WDR" , "LDR", "WOR", 'LOR']]
df_rebound_count_metric = pd.DataFrame(columns=["Season", "TeamID", "rebound_count"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_metric.Season == season]
    for team in df_teams.TeamID.unique():
        rebound_count_win = df_season[["WDR", "WOR"]].loc[df_season.WTeamID == team].mean().sum()
        rebound_count_lose = df_season[["LDR", "LOR"]].loc[df_season.LTeamID == team].mean().sum()
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "rebound_count":[rebound_count_win + rebound_count_lose]})                                                                 
        df_rebound_count_metric = df_rebound_count_metric.append(new_line, ignore_index=True)

In [87]:
df_rebound_count_metric

     Season TeamID  rebound_count
0      2003   1101       0.000000
1      2003   1102      42.541667
2      2003   1103      59.489011
3      2003   1104      73.274510
4      2003   1105      75.639098
5      2003   1106      72.902564
6      2003   1107      60.476190
7      2003   1108      72.710526
8      2003   1109       0.000000
9      2003   1110      66.178571
10     2003   1111      75.262500
11     2003   1112      83.571429
12     2003   1113      72.271930
13     2003   1114      67.041667
14     2003   1115      63.875000
15     2003   1116      78.754386
16     2003   1117      63.206061
17     2003   1118       0.000000
18     2003   1119      58.833333
19     2003   1120      67.678571
20     2003   1121       0.000000
21     2003   1122      67.925000
22     2003   1123      70.475113
23     2003   1124      69.785714
24     2003   1125      68.187500
25     2003   1126      64.920455
26     2003   1127      71.549451
27     2003   1128      63.705882
28     2003   1129      66.145833
29     2003   1130      71.919192
...     ...    ...            ...
6209   2019   1438      61.542857
6210   2019   1439      63.756410
6211   2019   1440      67.482143
6212   2019   1441      71.913333
6213   2019   1442      73.119048
6214   2019   1443      73.142857
6215   2019   1444      77.815476
6216   2019   1445       0.000000
6217   2019   1446       0.000000
6218   2019   1447      71.941176
6219   2019   1448      76.872727
6220   2019   1449      60.185185
6221   2019   1450      70.025974
6222   2019   1451      68.754167
6223   2019   1452      79.657143
6224   2019   1453      71.237500
6225   2019   1454      69.761364
6226   2019   1455      74.879699
6227   2019   1456      68.171946
6228   2019   1457      77.216667
6229   2019   1458      68.976285
6230   2019   1459      67.066667
6231   2019   1460      67.991903
6232   2019   1461      62.589286
6233   2019   1462      71.955556
6234   2019   1463      74.345238
6235   2019   1464      74.200000
6236   2019   1465      72.726190
6237   2019   1466      73.220779
6238   2019   1467       0.000000

[6239 rows x 3 columns]

#### Nombre de d'intercéptions en moyenne par match de chaque équipe sur chaque saison

In [91]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WBlk" , "LBlk", "WStl", 'LStl']]
df_intercept_count_metric = pd.DataFrame(columns=["Season", "TeamID", "intercept_count"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_metric.Season == season]
    for team in df_teams.TeamID.unique():
        intercept_count_win = df_season[["WBlk", "WStl"]].loc[df_season.WTeamID == team].mean().sum()
        intercept_count_lose = df_season[["LBlk", "LStl"]].loc[df_season.LTeamID == team].mean().sum()
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "intercept_count":[intercept_count_win + intercept_count_lose]})                                                                 
        df_intercept_count_metric = df_intercept_count_metric.append(new_line, ignore_index=True)

In [93]:
df_intercept_count_metric.shape

(6239, 3)

### Pourcentage de réussites à 3 points par match et par saison

In [101]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WFGM3" , "LFGM3", "WFGA3", 'LFGA3']]
df_3_points_rate_metric = pd.DataFrame(columns=["Season", "TeamID", "3_points_rate"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_metric.Season == season]
    for team in df_teams.TeamID.unique():
        
        three_points_made_count_win = df_season["WFGM3"].loc[df_season.WTeamID == team].mean()
        three_points_made_count_lose = df_season["LFGM3"].loc[df_season.LTeamID == team].mean()
        
        three_points_attempted_count_win = df_season["WFGA3"].loc[df_season.WTeamID == team].mean()
        three_points_attempted_count_lose = df_season["LFGA3"].loc[df_season.LTeamID == team].mean()
        
        three_points_rate = (three_points_made_count_win + three_points_made_count_lose)/ (three_points_attempted_count_win + three_points_attempted_count_lose)
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "3_points_rate":[three_points_rate]})                                                                 
        df_3_points_rate_metric = df_3_points_rate_metric.append(new_line, ignore_index=True)

In [102]:
df_3_points_rate_metric

     Season TeamID  3_points_rate
0      2003   1101            NaN
1      2003   1102       0.386952
2      2003   1103       0.340024
3      2003   1104       0.318412
4      2003   1105       0.379061
5      2003   1106       0.347425
6      2003   1107       0.365027
7      2003   1108       0.327446
8      2003   1109            NaN
9      2003   1110       0.374904
10     2003   1111       0.309035
11     2003   1112       0.323040
12     2003   1113       0.317598
13     2003   1114       0.359595
14     2003   1115       0.297430
15     2003   1116       0.320687
16     2003   1117       0.377481
17     2003   1118            NaN
18     2003   1119       0.399377
19     2003   1120       0.338215
20     2003   1121            NaN
21     2003   1122       0.325660
22     2003   1123       0.328798
23     2003   1124       0.341857
24     2003   1125       0.365977
25     2003   1126       0.368079
26     2003   1127       0.347457
27     2003   1128       0.346783
28     2003   1129       0.303411
29     2003   1130       0.330240
...     ...    ...            ...
6209   2019   1438       0.340562
6210   2019   1439       0.370414
6211   2019   1440       0.375971
6212   2019   1441       0.414237
6213   2019   1442       0.401522
6214   2019   1443       0.322496
6215   2019   1444       0.326851
6216   2019   1445            NaN
6217   2019   1446            NaN
6218   2019   1447       0.307411
6219   2019   1448       0.315922
6220   2019   1449       0.334158
6221   2019   1450       0.368390
6222   2019   1451       0.351734
6223   2019   1452       0.324133
6224   2019   1453       0.340379
6225   2019   1454       0.360118
6226   2019   1455       0.305738
6227   2019   1456       0.355050
6228   2019   1457       0.361808
6229   2019   1458       0.335607
6230   2019   1459       0.372319
6231   2019   1460       0.337888
6232   2019   1461       0.372687
6233   2019   1462       0.330164
6234   2019   1463       0.338889
6235   2019   1464       0.347670
6236   2019   1465       0.352176
6237   2019   1466       0.310192
6238   2019   1467            NaN

[6239 rows x 3 columns]