# NCAAM match predictions

## Imports

In [1]:
import os
import re
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

## Import data

In [68]:
path_datasets = 'data/MDataFiles_Stage1/'

df_regular_compact = pd.read_csv(path_datasets + 'MRegularSeasonCompactResults.csv')
df_regular_detailed = pd.read_csv(path_datasets + 'MRegularSeasonDetailedResults.csv')
df_teams = pd.read_csv(path_datasets + 'MTeams.csv')
df_seeds = pd.read_csv(path_datasets + 'MNCAATourneySeeds.csv')
coaches = pd.read_csv(path_datasets + 'MTeamCoaches.csv')
df_tourney_compact = pd.read_csv(path_datasets + 'MNCAATourneyCompactResults.csv')
df_tourney_detailed = pd.read_csv(path_datasets + 'MNCAATourneyDetailedResults.csv')

In [74]:
df_seeds.groupby(by="TeamID").count()

        Season  Seed
TeamID
1101         1     1
1102         2     2
1103         4     4
1104        16    16
1105         1     1
1106         4     4
1107         5     5
1108         2     2
1110         3     3
1111         1     1
1112        32    32
1113         7     7
1114         5     5
1115         1     1
1116        20    20
1117         1     1
1120         9     9
1122         5     5
1123         6     6
1124         9     9
1125         8     8
1127         1     1
1129         6     6
1130        11    11
1131         5     5
1133         5     5
1135         1     1
1137         8     8
1138         4     4
1139        15    15
...        ...   ...
1427         4     4
1428        16    16
1429        11    11
1431        10    10
1433        13    13
1434         9     9
1435        13    13
1436         7     7
1437        23    23
1438        18    18
1439         7     7
1441         1     1
1443        12    12
1444         3     3
1447         1     1
1448        15    15
1449        11    11
1450         3     3
1451         6     6
1452        16    16
1453         5     5
1454         4     4
1455        11    11
1457        10    10
1458        22    22
1459         5     5
1460         3     3
1461         4     4
1462        26    26
1463         2     2

[300 rows x 2 columns]

In [3]:
df_regular_compact.describe()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,NumOT
count,161552.000000,161552.000000,161552.000000,161552.000000,161552.000000,161552.000000,161552.000000
mean,2003.228731,74.665359,1286.919004,76.795125,1282.637498,64.692526,0.045137
std,10.058660,33.670352,104.521630,12.066260,104.742961,11.349610,0.249751
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1995.000000,47.000000,1198.000000,69.000000,1191.000000,57.000000,0.000000
50%,2004.000000,77.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2012.000000,103.000000,1380.000000,84.000000,1375.000000,72.000000,0.000000
max,2019.000000,132.000000,1466.000000,186.000000,1466.000000,150.000000,6.000000

### Check data sanity

In [4]:
print('Regular Season compact Results :\n', df_regular_compact.isnull().sum().T)
print("-"*10)

print('Regular Season detailed Results :\n', df_regular_detailed.isnull().sum().T)
print("-"*10)

print('Teamsts :\n', df_teams.isnull().sum().T)
print("-"*10)

print('Seeds :\n', df_seeds.isnull().sum().T)
print("-"*10)

print('Coaches :\n', coaches.isnull().sum().T)
print("-"*10)

print('Tourney compact Results :\n', df_tourney_compact.isnull().sum().T)
print("-"*10)

print('Tourney compact Results :\n', df_tourney_detailed .isnull().sum().T)
print("-"*10)

Regular Season compact Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
dtype: int64
----------
Regular Season detailed Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
WFGM       0
WFGA       0
WFGM3      0
WFGA3      0
WFTM       0
WFTA       0
WOR        0
WDR        0
WAst       0
WTO        0
WStl       0
WBlk       0
WPF        0
LFGM       0
LFGA       0
LFGM3      0
LFGA3      0
LFTM       0
LFTA       0
LOR        0
LDR        0
LAst       0
LTO        0
LStl       0
LBlk       0
LPF        0
dtype: int64
----------
Teamsts :
 TeamID           0
TeamName         0
FirstD1Season    0
LastD1Season     0
dtype: int64
----------
Seeds :
 Season    0
Seed      0
TeamID    0
dtype: int64
----------
Coaches :
 Season         0
TeamID         0
FirstDayNum    0
LastDayNum     0
CoachName      0
dtype: int64
----------
Tourney compact Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
dtype: int64
----------
Tourney compact Results :
 Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
WFGM       0
WFGA       0
WFGM3      0
WFGA3      0
WFTM       0
WFTA       0
WOR        0
WDR        0
WAst       0
WTO        0
WStl       0
WBlk       0
WPF        0
LFGM       0
LFGA       0
LFGM3      0
LFGA3      0
LFTM       0
LFTA       0
LOR        0
LDR        0
LAst       0
LTO        0
LStl       0
LBlk       0
LPF        0
dtype: int64
----------

### Concat match details in one dataframe

In [5]:
# add match type
df_regular_detailed["Type"] = "regular"
df_tourney_detailed["Type"] = "tourney"

# We join the data from the regular matchs and tourney matchs
df_match_detailed = pd.concat([df_regular_detailed, df_tourney_detailed])

# We create an idea for a match between two teams : team1_team2(team1 < team2)
df_match_detailed["Match"] = df_match_detailed \
                                .apply(lambda row: "_".join(map(str, sorted([row["WTeamID"], row["LTeamID"]]))), axis=1)

df_match_detailed["Team1"] = df_match_detailed["Match"].apply(lambda x: int(x.split("_")[0]))
df_match_detailed["Team2"] = df_match_detailed["Match"].apply(lambda x: int(x.split("_")[1]))

df_match_detailed["Label"] = df_match_detailed.apply(lambda row: 1 if row["WTeamID"] == row["Team1"] else 0, axis=1)

# WLoc to numeric type
df_match_detailed["WLoc"] = df_match_detailed["WLoc"].map({"H": 0, "A": 1, "N": 3})
# Type to numeric type
df_match_detailed["Type"] = df_match_detailed["Type"].map({"regular": 0, "tourney": 1})

## Create interesting metrics

Features initiales Luc:

* % de victoires
* % de victoires à domicile et à l'exterieur
* Nombre de points marqués et encaissés en moyenne
* Nombre d'interceptions et de rebonds
* % de réussites à 3pts
* Nombre de lancers francs tentés/marqués

Features à ajouter possiblement:

* L'équipe joue à domicile ?
* % de victoire contre une équipe de rang équivalent (à 1 ou deux seed près?)

Le travail se répartie entre les différentes personnes du groupe (je prend les trois dernières)

### Nombre d'interceptions et de rebonds par match et par saison

Pour créer ces paramètres nous avons besoin des dataframes suivant :

Comptés commme une interception : blocks, steals

Comptés comme rebond : offensive_rebounds, defensive_rebounds

In [6]:
df_match_detailed.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'Type', 'Match', 'Team1', 'Team2', 'Label'],
      dtype='object')

#### Nombre de rebond en moyenne par match de chaque équipe sur chaque saison

In [7]:
# studied_parameter = "DR"
# data = df_match_detailed[["Season", "WTeamID", "LTeamID", "WDR" , "LDR"]].values
# winners_rebound_count = np.zeros(data.shape[0])
# losers_rebound_count = np.zeros(data.shape[0])
# for i, match in enumerate(data):
#     season = match[0]
#     winner = match[1]
#     loser = match[2]
    
#     previous_seasons = data[data[:,0] < season]
#     winner_previous_wins = previous_seasons[previous_seasons[:,1] == winner]
#     winner_previous_loses = previous_seasons[previous_seasons[:,2] == winner]
#     loser_previous_wins = previous_seasons[previous_seasons[:,1] == loser]
#     loser_previous_loses = previous_seasons[previous_seasons[:,2] == loser]
    
#     winner_rebound_count = np.sum(winner_previous_wins) + np.sum(winner_previous_loses)
#     loser_rebound_count = np.sum(loser_previous_wins) + np.sum(winner_previous_loses)
    
#     winners_rebound_count[i] = winner_rebound_count
#     losers_rebound_count[i] = loser_rebound_count

In [8]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WDR" , "LDR", "WOR", 'LOR']]
df_rebound_count_metric = pd.DataFrame(columns=["Season", "TeamID", "rebound_count"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_tmp.Season == season]
    for team in df_teams.TeamID.unique():
        rebound_count_win = df_season[["WDR", "WOR"]].loc[df_season.WTeamID == team].mean().sum()
        rebound_count_lose = df_season[["LDR", "LOR"]].loc[df_season.LTeamID == team].mean().sum()
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "rebound_count":[rebound_count_win + rebound_count_lose]})                                                                 
        df_rebound_count_metric = df_rebound_count_metric.append(new_line, ignore_index=True)

In [9]:
df_rebound_count_metric.head()

  Season TeamID  rebound_count
0   2003   1101       0.000000
1   2003   1102      42.541667
2   2003   1103      59.489011
3   2003   1104      73.274510
4   2003   1105      75.639098

#### Nombre de d'intercéptions en moyenne par match de chaque équipe sur chaque saison

In [10]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WBlk" , "LBlk", "WStl", 'LStl']]
df_intercept_count_metric = pd.DataFrame(columns=["Season", "TeamID", "intercept_count"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_tmp.Season == season]
    for team in df_teams.TeamID.unique():
        intercept_count_win = df_season[["WBlk", "WStl"]].loc[df_season.WTeamID == team].mean().sum()
        intercept_count_lose = df_season[["LBlk", "LStl"]].loc[df_season.LTeamID == team].mean().sum()
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "intercept_count":[intercept_count_win + intercept_count_lose]})                                                                 
        df_intercept_count_metric = df_intercept_count_metric.append(new_line, ignore_index=True)

In [11]:
df_intercept_count_metric.shape

(6239, 3)

### Pourcentage de réussites à 3 points par match et par saison

In [12]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WFGM3" , "LFGM3", "WFGA3", 'LFGA3']]
df_3_points_rate_metric = pd.DataFrame(columns=["Season", "TeamID", "3_points_rate"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_tmp.Season == season]
    for team in df_teams.TeamID.unique():
        
        three_points_made_count_win = df_season["WFGM3"].loc[df_season.WTeamID == team].mean()
        three_points_made_count_lose = df_season["LFGM3"].loc[df_season.LTeamID == team].mean()
        
        three_points_attempted_count_win = df_season["WFGA3"].loc[df_season.WTeamID == team].mean()
        three_points_attempted_count_lose = df_season["LFGA3"].loc[df_season.LTeamID == team].mean()
        
        three_points_rate = (three_points_made_count_win + three_points_made_count_lose)/ (three_points_attempted_count_win + three_points_attempted_count_lose)
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "3_points_rate":[three_points_rate]})                                                                 
        df_3_points_rate_metric = df_3_points_rate_metric.append(new_line, ignore_index=True)

In [13]:
df_3_points_rate_metric.head()

  Season TeamID  3_points_rate
0   2003   1101            NaN
1   2003   1102       0.386952
2   2003   1103       0.340024
3   2003   1104       0.318412
4   2003   1105       0.379061

### Pourcentage de réussites au lancé franc par match et par saison

In [14]:
df_tmp = df_match_detailed[["Season", "WTeamID", "LTeamID", "WFTM" , "LFTM", "WFTA", 'LFTA']]
df_free_throw_rate_metric = pd.DataFrame(columns=["Season", "TeamID", "free_throw_rate"])
for season in df_tmp.Season.unique():
    df_season = df_tmp.loc[df_tmp.Season == season]
    for team in df_teams.TeamID.unique():
        
        free_throw_made_count_win = df_season["WFTM"].loc[df_season.WTeamID == team].mean()
        free_throw_made_count_lose = df_season["LFTM"].loc[df_season.LTeamID == team].mean()
        
        free_throw_attempted_count_win = df_season["WFTA"].loc[df_season.WTeamID == team].mean()
        free_throw_attempted_count_lose = df_season["LFTA"].loc[df_season.LTeamID == team].mean()
        
        free_throw_rate = (free_throw_made_count_win + free_throw_made_count_lose)/ (free_throw_attempted_count_win + free_throw_attempted_count_lose)
        new_line = pd.DataFrame({"Season":[season], 
                                 "TeamID":[team], 
                                 "free_throw_rate":[free_throw_rate]})                                                                 
        df_free_throw_rate_metric = df_free_throw_rate_metric.append(new_line, ignore_index=True)

### Merge all metrics in one DataFrame

In [15]:
df_metrics = df_rebound_count_metric
metrics = [df_intercept_count_metric, df_3_points_rate_metric, df_free_throw_rate_metric]
for metric in metrics:
    df_metrics = pd.merge(df_metrics, metric)

In [16]:
df_metrics

,Season,TeamID,rebound_count,intercept_count,3_points_rate,free_throw_rate
0,2003,1101,0.000000,0.000000,NaN,NaN
1,2003,1102,42.541667,16.104167,0.386952,0.651839
2,2003,1103,59.489011,19.153846,0.340024,0.735753
3,2003,1104,73.274510,20.161765,0.318412,0.713187
4,2003,1105,75.639098,23.969925,0.379061,0.719524
5,2003,1106,72.902564,23.220513,0.347425,0.644421
6,2003,1107,60.476190,17.761905,0.365027,0.748752
7,2003,1108,72.710526,23.906015,0.327446,0.673882
8,2003,1109,0.000000,0.000000,NaN,NaN
9,2003,1110,66.178571,16.151786,0.374904,0.682747
10,2003,1111,75.262500,28.000000,0.309035,0.717893
11,2003,1112,83.571429,24.928571,0.323040,0.706727
12,2003,1113,72.271930,18.302632,0.317598,0.669540
13,2003,1114,67.041667,17.708333,0.359595,0.690589
14,2003,1115,63.875000,22.500000,0.297430,0.655471
15,2003,1116,78.754386,20.350877,0.320687,0.617450
16,2003,1117,63.206061,17.933333,0.377481,0.740921
17,2003,1118,0.000000,0.000000,NaN,NaN
18,2003,1119,58.833333,14.469697,0.399377,0.727941
19,2003,1120,67.678571,24.476190,0.338215,0.670237
20,2003,1121,0.000000,0.000000,NaN,NaN
21,2003,1122,67.925000,23.175000,0.325660,0.689462
22,2003,1123,70.475113,14.669683,0.328798,0.728134
23,2003,1124,69.785714,22.571429,0.341857,0.725051
24,2003,1125,68.187500,21.520833,0.365977,0.697790
25,2003,1126,64.920455,19.931818,0.368079,0.716605
26,2003,1127,71.549451,25.796703,0.347457,0.675103
27,2003,1128,63.705882,23.137255,0.346783,0.720179
28,2003,1129,66.145833,21.125000,0.303411,0.702475
29,2003,1130,71.919192,19.550505,0.330240,0.680375
...,...,...,...,...,...,...
6209,2019,1438,61.542857,18.819048,0.340562,0.727670
6210,2019,1439,63.756410,17.888889,0.370414,0.763348
6211,2019,1440,67.482143,16.964286,0.375971,0.730424
6212,2019,1441,71.913333,12.300000,0.414237,0.707472
6213,2019,1442,73.119048,18.922619,0.401522,0.700634
6214,2019,1443,73.142857,23.814286,0.322496,0.723666
6215,2019,1444,77.815476,14.583333,0.326851,0.693665
6216,2019,1445,0.000000,0.000000,NaN,NaN
6217,2019,1446,0.000000,0.000000,NaN,NaN
6218,2019,1447,71.941176,18.807487,0.307411,0.752123
6219,2019,1448,76.872727,15.031818,0.315922,0.729385
6220,2019,1449,60.185185,27.481481,0.334158,0.682723
6221,2019,1450,70.025974,17.047619,0.368390,0.752310
6222,2019,1451,68.754167,19.183333,0.351734,0.741189
6223,2019,1452,79.657143,19.942857,0.324133,0.686048
6224,2019,1453,71.237500,22.208333,0.340379,0.697838
6225,2019,1454,69.761364,15.840909,0.360118,0.765670
6226,2019,1455,74.879699,16.150376,0.305738,0.725499
6227,2019,1456,68.171946,19.484163,0.355050,0.666542
6228,2019,1457,77.216667,12.883333,0.361808,0.725499
6229,2019,1458,68.976285,18.193676,0.335607,0.619981
6230,2019,1459,67.066667,14.755556,0.372319,0.718598
6231,2019,1460,67.991903,15.987854,0.337888,0.735524
6232,2019,1461,62.589286,16.696429,0.372687,0.725608
6233,2019,1462,71.955556,18.144444,0.330164,0.686089
6234,2019,1463,74.345238,19.785714,0.338889,0.753287
6235,2019,1464,74.200000,19.400000,0.347670,0.706271
6236,2019,1465,72.726190,13.952381,0.352176,0.772271
6237,2019,1466,73.220779,18.006494,0.310192,0.676754
6238,2019,1467,0.000000,0.000000,NaN,NaN

## Metrics to features

In [21]:
df_match_detailed_bis = df_match_detailed.copy()
df_match_detailed_bis["Season_match"] = df_match_detailed.apply(lambda x: "{}_{}".format(x["Season"], x["Match"]), axis=1)

df_final = df_match_detailed_bis["Season_match"].to_frame()
metrics_to_switch = df_metrics.values

for i, metric in enumerate(df_metrics.columns[2:]):
    feature_winner = np.zeros(df_match_detailed_bis.shape[0])
    feature_loser = np.zeros(df_match_detailed_bis.shape[0])
    for j, match in enumerate(df_match_detailed_bis.Season_match):
        
        season = int(match.split("_")[0])
        winner = int(match.split("_")[1])
        loser = int(match.split("_")[2])

        previous_season = metrics_to_switch[(metrics_to_switch[:,0] < season)]

        winner_metrics = previous_season[previous_season[:,1] == winner]
        loser_metrics = previous_season[previous_season[:,1] == loser]
        
        try:
            value_winner = np.mean(winner_metrics[:,i+2])
        except ZeroDivisionError:
            value_winner = float("nan")

        try:
            value_loser = np.mean(loser_metrics[:,i+2])
        except ZeroDivisionError:
            value_loser = float("nan")

        feature_winner[j] = value_winner
        feature_loser[j] = value_loser  
    df_final["WTeam_{}".format(metric)] = feature_winner
    df_final["LTeam_{}".format(metric)] = feature_loser

In [22]:
df_final

,Season_match,WTeam_rebound_count,LTeam_rebound_count,WTeam_intercept_count,LTeam_intercept_count,WTeam_3_points_rate,LTeam_3_points_rate,WTeam_free_throw_rate,LTeam_free_throw_rate
0,2003_1104_1328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003_1272_1393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003_1266_1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003_1296_1457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003_1208_1400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2003_1186_1458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2003_1161_1236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2003_1186_1457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2003_1156_1194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2003_1296_1458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2003_1166_1426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2003_1106_1202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2003_1135_1237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2003_1125_1323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2003_1125_1135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2003_1156_1236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2003_1161_1194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2003_1166_1202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2003_1129_1183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2003_1314_1336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2003_1237_1323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2003_1162_1353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2003_1131_1390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2003_1106_1426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2003_1389_1462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2003_1156_1161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2003_1194_1236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2003_1196_1256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2003_1221_1242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2003_1422_1447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1085,2019_1199_1293,69.819877,68.884449,24.046167,20.198107,0.344608,0.351265,0.696315,0.697492
1086,2019_1124_1211,71.016803,74.599850,21.601798,19.119025,0.355755,0.352875,0.706575,0.722032
1087,2019_1246_1459,73.126537,65.266457,23.043167,17.266636,0.334081,0.360984,0.695709,0.698198
1088,2019_1261_1268,73.367641,74.844819,23.099463,23.342160,0.332303,0.347161,0.683199,0.704336
1089,2019_1196_1276,70.137767,64.173533,20.352142,17.647795,0.349142,0.342065,0.691238,0.727105
1090,2019_1277_1278,72.551703,70.835378,19.218622,24.020197,0.356530,0.345979,0.712289,0.693655
1091,2019_1345_1437,69.540612,71.301282,19.505574,21.230156,0.339563,0.337899,0.701972,0.743730
1092,2019_1181_1416,71.650673,70.830007,22.905231,20.653127,0.348915,0.339549,0.719749,0.681442
1093,2019_1222_1326,71.085128,67.793411,21.952371,20.380155,0.343423,0.344923,0.692727,0.693463
1094,2019_1314_1449,80.410720,73.656994,22.605227,20.888213,0.333922,0.344990,0.697208,0.688510
1095,2019_1332_1414,68.267856,70.081245,19.692533,17.688505,0.353222,0.362194,0.720190,0.702880
1096,2019_1234_1397,71.677513,71.527333,20.282595,20.652021,0.344069,0.338008,0.707028,0.695589
1097,2019_1138_1403,73.691195,67.119809,20.853496,19.738252,0.341287,0.352429,0.691030,0.712419
1098,2019_1328_1438,71.876423,69.047341,20.922345,18.399155,0.345112,0.345616,0.716478,0.715414
1099,2019_1251_1439,68.974794,68.832346,17.178752,20.697412,0.341693,0.347048,0.717430,0.684542
1100,2019_1199_1211,69.819877,74.599850,24.046167,19.119025,0.344608,0.352875,0.696315,0.722032
1101,2019_1345_1397,69.540612,71.527333,19.505574,20.652021,0.339563,0.338008,0.701972,0.695589
1102,2019_1276_1403,64.173533,67.119809,17.647795,19.738252,0.342065,0.352429,0.727105,0.712419
1103,2019_1332_1438,68.267856,69.047341,19.692533,18.399155,0.353222,0.345616,0.720190,0.715414
1104,2019_1120_1314,69.620049,80.410720,22.692492,22.605227,0.337065,0.333922,0.671749,0.697208
1105,2019_1181_1439,71.650673,68.832346,22.905231,20.697412,0.348915,0.347048,0.719749,0.684542
1106,2019_1222_1246,71.085128,73.126537,21.952371,23.043167,0.343423,0.334081,0.692727,0.695709
1107,2019_1261_1277,73.367641,72.551703,23.099463,19.218622,0.332303,0.356530,0.683199,0.712289
1108,2019_1211_1403,74.599850,67.119809,19.119025,19.738252,0.352875,0.352429,0.722032,0.712419
1109,2019_1345_1438,69.540612,69.047341,19.505574,18.399155,0.339563,0.345616,0.701972,0.715414
1110,2019_1120_1246,69.620049,73.126537,22.692492,23.043167,0.337065,0.334081,0.671749,0.695709
1111,2019_1181_1277,71.650673,72.551703,22.905231,19.218622,0.348915,0.356530,0.719749,0.712289
1112,2019_1277_1403,72.551703,67.119809,19.218622,19.738252,0.356530,0.352429,0.712289,0.712419
1113,2019_1120_1438,69.620049,69.047341,22.692492,18.399155,0.337065,0.345616,0.671749,0.715414
1114,2019_1403_1438,67.119809,69.047341,19.738252,18.399155,0.352429,0.345616,0.712419,0.715414

In [64]:
df_test = pd.DataFrame()
offset = 5
for season in df_metrics.Season.unique():
    df_test_season = df_metrics.loc[(df_metrics.Season < season)& (df_metrics.Season >= season-offset)].groupby(by="TeamID").mean()
    df_test_season["Season"] = season
    
    df_test = pd.concat([df_test, df_test_season], join="outer")

In [82]:
def mean_year_offset_metric(df_metrics, offset):
    df_offset = pd.DataFrame()
    for season in df_metrics.Season.unique():
        df_offset_season = df_metrics.loc[(df_metrics.Season < season)& (df_metrics.Season > season-offset)].groupby(by="TeamID").mean()
        df_offset_season["Season"] = season
        df_offset = pd.concat([df_offset, df_offset_season], join="outer")
    return df_offset.reset_index()

In [83]:
df_offset = mean_year_offset_metric(df_metrics, offset)
df_offset

,TeamID,rebound_count,intercept_count,3_points_rate,free_throw_rate,Season
0,1101,0.000000,0.000000,NaN,NaN,2004
1,1102,42.541667,16.104167,0.386952,0.651839,2004
2,1103,59.489011,19.153846,0.340024,0.735753,2004
3,1104,73.274510,20.161765,0.318412,0.713187,2004
4,1105,75.639098,23.969925,0.379061,0.719524,2004
5,1106,72.902564,23.220513,0.347425,0.644421,2004
6,1107,60.476190,17.761905,0.365027,0.748752,2004
7,1108,72.710526,23.906015,0.327446,0.673882,2004
8,1109,0.000000,0.000000,NaN,NaN,2004
9,1110,66.178571,16.151786,0.374904,0.682747,2004
10,1111,75.262500,28.000000,0.309035,0.717893,2004
11,1112,83.571429,24.928571,0.323040,0.706727,2004
12,1113,72.271930,18.302632,0.317598,0.669540,2004
13,1114,67.041667,17.708333,0.359595,0.690589,2004
14,1115,63.875000,22.500000,0.297430,0.655471,2004
15,1116,78.754386,20.350877,0.320687,0.617450,2004
16,1117,63.206061,17.933333,0.377481,0.740921,2004
17,1118,0.000000,0.000000,NaN,NaN,2004
18,1119,58.833333,14.469697,0.399377,0.727941,2004
19,1120,67.678571,24.476190,0.338215,0.670237,2004
20,1121,0.000000,0.000000,NaN,NaN,2004
21,1122,67.925000,23.175000,0.325660,0.689462,2004
22,1123,70.475113,14.669683,0.328798,0.728134,2004
23,1124,69.785714,22.571429,0.341857,0.725051,2004
24,1125,68.187500,21.520833,0.365977,0.697790,2004
25,1126,64.920455,19.931818,0.368079,0.716605,2004
26,1127,71.549451,25.796703,0.347457,0.675103,2004
27,1128,63.705882,23.137255,0.346783,0.720179,2004
28,1129,66.145833,21.125000,0.303411,0.702475,2004
29,1130,71.919192,19.550505,0.330240,0.680375,2004
...,...,...,...,...,...,...
5842,1438,64.321248,17.912143,0.346673,0.727353,2019
5843,1439,63.929625,15.489306,0.382053,0.695677,2019
5844,1440,68.986685,22.576284,0.339823,0.731708,2019
5845,1441,70.298793,21.322721,0.342610,0.693561,2019
5846,1442,68.619266,16.535889,0.379832,0.714960,2019
5847,1443,71.913111,17.034017,0.354116,0.685963,2019
5848,1444,69.770100,17.218303,0.359908,0.713103,2019
5849,1445,0.000000,0.000000,NaN,NaN,2019
5850,1446,0.000000,0.000000,NaN,NaN,2019
5851,1447,77.235516,18.927183,0.320343,0.701741,2019
5852,1448,74.342155,19.967467,0.358161,0.706151,2019
5853,1449,72.733536,24.742397,0.340152,0.695260,2019
5854,1450,67.140582,16.221793,0.369401,0.733007,2019
5855,1451,65.844612,16.907975,0.373826,0.726164,2019
5856,1452,73.780508,25.346627,0.325706,0.692780,2019
5857,1453,74.762859,23.105987,0.329390,0.686881,2019
5858,1454,67.293216,15.550347,0.350789,0.715083,2019
5859,1455,75.330503,19.046427,0.333375,0.725680,2019
5860,1456,66.362407,18.299795,0.383951,0.734818,2019
5861,1457,69.487622,21.680846,0.358301,0.721582,2019
5862,1458,66.655905,17.213970,0.342392,0.692931,2019
5863,1459,63.225212,15.548131,0.386094,0.756904,2019
5864,1460,65.442712,15.553196,0.352259,0.712834,2019
5865,1461,65.596273,17.381755,0.343331,0.719767,2019
5866,1462,74.593072,17.641844,0.337026,0.725835,2019
5867,1463,71.635358,18.662299,0.336633,0.708374,2019
5868,1464,69.569174,19.080402,0.363246,0.694310,2019
5869,1465,0.000000,0.000000,NaN,NaN,2019
5870,1466,0.000000,0.000000,NaN,NaN,2019
5871,1467,0.000000,0.000000,NaN,NaN,2019

In [47]:
df_seeds
df_seeds = df_seeds[df_seeds['Season'] < 2015]
def seed_to_int(seed):
    s_int = int(seed[1:3])
    return s_int
df_seeds['seed_int'] = df_seeds.Seed.apply(seed_to_int)
df_seeds.drop(labels = ['Seed'], inplace = True, axis = 1)
df_seeds

      Season  TeamID  seed_int
0       1985    1207         1
1       1985    1210         2
2       1985    1228         3
3       1985    1260         4
4       1985    1374         5
5       1985    1208         6
6       1985    1393         7
7       1985    1396         8
8       1985    1439         9
9       1985    1177        10
10      1985    1455        11
11      1985    1330        12
12      1985    1233        13
13      1985    1318        14
14      1985    1273        15
15      1985    1250        16
16      1985    1385         1
17      1985    1433         2
18      1985    1301         3
19      1985    1424         4
20      1985    1449         5
21      1985    1409         6
22      1985    1104         7
23      1985    1234         8
24      1985    1116         9
25      1985    1112        10
26      1985    1431        11
27      1985    1246        12
28      1985    1361        13
29      1985    1305        14
...      ...     ...       ...
1916    2014    1269         6
1917    2014    1400         7
1918    2014    1246         8
1919    2014    1243         9
1920    2014    1113        10
1921    2014    1234        11
1922    2014    1397        11
1923    2014    1301        12
1924    2014    1462        12
1925    2014    1264        13
1926    2014    1273        14
1927    2014    1459        15
1928    2014    1142        16
1929    2014    1411        16
1930    2014    1112         1
1931    2014    1458         2
1932    2014    1166         3
1933    2014    1361         4
1934    2014    1328         5
1935    2014    1124         6
1936    2014    1332         7
1937    2014    1211         8
1938    2014    1329         9
1939    2014    1140        10
1940    2014    1304        11
1941    2014    1295        12
1942    2014    1308        13
1943    2014    1418        14
1944    2014    1110        15
1945    2014    1451        16

[1946 rows x 3 columns]

In [76]:
def seed_to_int(seed):
    s_int = int(seed[1:3])
    return s_int

# on remplace la variable seed par un entier
df_seeds['seed_int'] = df_seeds.Seed.apply(seed_to_int)
df_seeds.drop(labels = ['Seed'], inplace = True, axis = 1)

# on simplifie le fichier résultats pour ne garder que l'issue finale (Win and Loss)
df_tour = df_tourney_compact
df_tour.drop(labels = ['DayNum', 'WScore', 'LScore', 'WLoc', 'NumOT'], inplace = True, axis = 1)

In [77]:
df_winseeds = df_seeds.rename(columns = {'TeamID':'WTeamID', 'seed_int':'WSeed'})
df_lossseeds = df_seeds.rename(columns = {'TeamID':'LTeamID', 'seed_int':'LSeed'})
df_dummy = pd.merge(left = df_tour, right = df_winseeds, how = 'left', on = ['Season', 'WTeamID'])
df_concat = pd.merge(left = df_dummy, right = df_lossseeds, on = ['Season', 'LTeamID'])
df_concat['SeedDiff'] = df_concat.WSeed - df_concat.LSeed
df_concat

      Season  WTeamID  LTeamID  WSeed  LSeed  SeedDiff
0       1985     1116     1234      9      8         1
1       1985     1120     1345     11      6         5
2       1985     1207     1250      1     16       -15
3       1985     1229     1425      9      8         1
4       1985     1242     1325      3     14       -11
5       1985     1246     1449     12      5         7
6       1985     1256     1338      5     12        -7
7       1985     1260     1233      4     13        -9
8       1985     1314     1292      2     15       -13
9       1985     1323     1333      7     10        -3
10      1985     1326     1235      4     13        -9
11      1985     1328     1299      1     16       -15
12      1985     1374     1330      5     12        -7
13      1985     1385     1380      1     16       -15
14      1985     1396     1439      8      9        -1
15      1985     1424     1361      4     13        -9
16      1985     1104     1112      7     10        -3
17      1985     1130     1403     11      6         5
18      1985     1181     1337      3     14       -11
19      1985     1208     1455      6     11        -5
20      1985     1210     1273      2     15       -13
21      1985     1228     1318      3     14       -11
22      1985     1268     1275      5     12        -7
23      1985     1272     1335      2     15       -13
24      1985     1276     1192      1     16       -15
25      1985     1298     1261     13      4         9
26      1985     1301     1305      3     14       -11
27      1985     1393     1177      7     10        -3
28      1985     1412     1277      7     10        -3
29      1985     1431     1409     11      6         5
...      ...      ...      ...    ...    ...       ...
2221    2019     1199     1293      4     12        -8
2222    2019     1211     1124      1      9        -8
2223    2019     1246     1459      2      7        -5
2224    2019     1261     1268      3      6        -3
2225    2019     1276     1196      2     10        -8
2226    2019     1277     1278      2     10        -8
2227    2019     1345     1437      3      6        -3
2228    2019     1181     1416      1      9        -8
2229    2019     1222     1326      3     11        -8
2230    2019     1314     1449      1      9        -8
2231    2019     1332     1414     12     13        -1
2232    2019     1397     1234      2     10        -8
2233    2019     1403     1138      3      6        -3
2234    2019     1438     1328      1      9        -8
2235    2019     1439     1251      4     12        -8
2236    2019     1211     1199      1      4        -3
2237    2019     1345     1397      3      2         1
2238    2019     1403     1276      3      2         1
2239    2019     1438     1332      1     12       -11
2240    2019     1120     1314      5      1         4
2241    2019     1181     1439      1      4        -3
2242    2019     1246     1222      2      3        -1
2243    2019     1277     1261      2      3        -1
2244    2019     1403     1211      3      1         2
2245    2019     1438     1345      1      3        -2
2246    2019     1120     1246      5      2         3
2247    2019     1277     1181      2      1         1
2248    2019     1403     1277      3      2         1
2249    2019     1438     1120      1      5        -4
2250    2019     1438     1403      1      3        -2

[2251 rows x 6 columns]

In [107]:
df_feature = df_match_detailed[["Season", "WTeamID", "LTeamID"]]


# df_win_metrics = df_offset.rename(columns={"TeamID":"WTeamID"})
df_win_metrics = df_offset.rename(columns={metric:"W{}".format(metric) for metric in df_offset.columns[:-1]})
df_lose_metrics = df_offset.rename(columns={metric:"L{}".format(metric) for metric in df_offset.columns[:-1]})
df_tmp = pd.merge(left=df_feature, right=df_win_metrics, how='left', on=['Season', 'WTeamID'])
df_matches = pd.merge(left=df_tmp, right=df_lose_metrics, on=['Season', 'LTeamID'])

In [108]:
df_matches

,Season,WTeamID,LTeamID,Wrebound_count,Wintercept_count,W3_points_rate,Wfree_throw_rate,Lrebound_count,Lintercept_count,L3_points_rate,Lfree_throw_rate
0,2004,1266,1385,73.259259,17.629630,0.373151,0.789614,75.629808,28.024038,0.313264,0.661278
1,2004,1193,1385,72.794258,25.282297,0.326380,0.719717,75.629808,28.024038,0.313264,0.661278
2,2004,1220,1385,82.714286,17.708333,0.332156,0.594527,75.629808,28.024038,0.313264,0.661278
3,2004,1181,1385,71.335165,25.153846,0.338082,0.693138,75.629808,28.024038,0.313264,0.661278
4,2004,1210,1385,77.571429,26.857143,0.347162,0.677365,75.629808,28.024038,0.313264,0.661278
5,2004,1335,1385,62.303030,17.863636,0.380634,0.719588,75.629808,28.024038,0.313264,0.661278
6,2004,1393,1385,82.366667,30.166667,0.272340,0.665460,75.629808,28.024038,0.313264,0.661278
7,2004,1371,1385,71.607843,20.686275,0.305501,0.687282,75.629808,28.024038,0.313264,0.661278
8,2004,1274,1385,73.807487,28.743316,0.341020,0.715301,75.629808,28.024038,0.313264,0.661278
9,2004,1437,1385,76.800000,21.800000,0.349040,0.712575,75.629808,28.024038,0.313264,0.661278
10,2004,1207,1385,79.033333,31.385714,0.326307,0.733408,75.629808,28.024038,0.313264,0.661278
11,2004,1353,1385,72.833333,29.291667,0.338228,0.663646,75.629808,28.024038,0.313264,0.661278
12,2004,1452,1385,60.438095,20.161905,0.343397,0.642255,75.629808,28.024038,0.313264,0.661278
13,2004,1338,1385,69.750000,23.664286,0.305801,0.646730,75.629808,28.024038,0.313264,0.661278
14,2004,1130,1385,71.919192,19.550505,0.330240,0.680375,75.629808,28.024038,0.313264,0.661278
15,2004,1452,1385,60.438095,20.161905,0.343397,0.642255,75.629808,28.024038,0.313264,0.661278
16,2004,1439,1385,74.883838,23.494949,0.357293,0.671798,75.629808,28.024038,0.313264,0.661278
17,2004,1163,1385,82.621739,25.617391,0.354803,0.664009,75.629808,28.024038,0.313264,0.661278
18,2004,1344,1385,69.447115,28.451923,0.334960,0.785228,75.629808,28.024038,0.313264,0.661278
19,2004,1130,1385,71.919192,19.550505,0.330240,0.680375,75.629808,28.024038,0.313264,0.661278
20,2004,1323,1385,74.650000,23.866667,0.376828,0.746977,75.629808,28.024038,0.313264,0.661278
21,2004,1448,1272,79.673333,22.753333,0.323174,0.759867,79.434783,23.751553,0.325157,0.655311
22,2004,1228,1272,70.314286,19.560000,0.344774,0.719166,79.434783,23.751553,0.325157,0.655311
23,2004,1379,1272,75.966346,19.735577,0.285054,0.690064,79.434783,23.751553,0.325157,0.655311
24,2004,1177,1272,73.291667,15.375000,0.323367,0.721580,79.434783,23.751553,0.325157,0.655311
25,2004,1257,1272,74.308571,23.280000,0.353447,0.680214,79.434783,23.751553,0.325157,0.655311
26,2004,1153,1272,70.318627,18.843137,0.342021,0.690826,79.434783,23.751553,0.325157,0.655311
27,2004,1387,1272,60.177885,17.182692,0.337531,0.658905,79.434783,23.751553,0.325157,0.655311
28,2004,1329,1272,71.823810,27.338095,0.346968,0.647649,79.434783,23.751553,0.325157,0.655311
29,2004,1338,1104,69.750000,23.664286,0.305801,0.646730,73.274510,20.161765,0.318412,0.713187
...,...,...,...,...,...,...,...,...,...,...,...
83909,2019,1207,1385,72.493795,20.811039,0.351121,0.739054,70.793151,26.230890,0.343822,0.699415
83910,2019,1181,1385,73.980919,21.085940,0.354650,0.712976,70.793151,26.230890,0.343822,0.699415
83911,2019,1344,1385,69.433916,20.361753,0.327818,0.703940,70.793151,26.230890,0.343822,0.699415
83912,2019,1344,1385,69.433916,20.361753,0.327818,0.703940,70.793151,26.230890,0.343822,0.699415
83913,2019,1462,1385,74.593072,17.641844,0.337026,0.725835,70.793151,26.230890,0.343822,0.699415
83914,2019,1177,1385,68.697403,19.503563,0.342499,0.723029,70.793151,26.230890,0.343822,0.699415
83915,2019,1462,1385,74.593072,17.641844,0.337026,0.725835,70.793151,26.230890,0.343822,0.699415
83916,2019,1266,1385,65.591852,21.585324,0.376377,0.736595,70.793151,26.230890,0.343822,0.699415
83917,2019,1113,1385,69.486275,17.608742,0.353595,0.708591,70.793151,26.230890,0.343822,0.699415
83918,2019,1307,1305,68.430124,19.449915,0.340744,0.728016,75.863989,21.329172,0.308449,0.721198
83919,2019,1361,1305,73.175661,20.994528,0.315336,0.677050,75.863989,21.329172,0.308449,0.721198
83920,2019,1429,1305,67.594914,15.904852,0.379560,0.693067,75.863989,21.329172,0.308449,0.721198
83921,2019,1361,1305,73.175661,20.994528,0.315336,0.677050,75.863989,21.329172,0.308449,0.721198
83922,2019,1196,1305,72.035910,22.137912,0.329564,0.677325,75.863989,21.329172,0.308449,0.721198
83923,2019,1396,1222,70.963413,19.715581,0.330233,0.693308,72.509410,17.974090,0.354105,0.694104
83924,2019,1416,1222,73.708352,17.354176,0.335495,0.658112,72.509410,17.974090,0.354105,0.694104
83925,2019,1153,1222,72.706486,23.527029,0.323135,0.689822,72.509410,17.974090,0.354105,0.694104
83926,2019,1246,1222,72.219901,21.609368,0.357092,0.706673,72.509410,17.974090,0.354105,0.694104
83927,2019,1181,1438,73.980919,21.085940,0.354650,0.712976,64.321248,17.912143,0.346673,0.727353
83928,2019,1181,1438,73.980919,21.085940,0.354650,0.712976,64.321248,17.912143,0.346673,0.727353
83929,2019,1199,1438,72.445352,22.441090,0.331350,0.675863,64.321248,17.912143,0.346673,0.727353
83930,2019,1458,1276,66.655905,17.213970,0.342392,0.692931,61.276919,15.714995,0.358436,0.726810
83931,2019,1234,1276,75.672681,21.020468,0.358931,0.711935,61.276919,15.714995,0.358436,0.726810
83932,2019,1336,1276,70.413958,22.333162,0.341371,0.709138,61.276919,15.714995,0.358436,0.726810
83933,2019,1277,1276,76.045626,18.316443,0.374980,0.688868,61.276919,15.714995,0.358436,0.726810
83934,2019,1277,1276,76.045626,18.316443,0.374980,0.688868,61.276919,15.714995,0.358436,0.726810
83935,2019,1277,1276,76.045626,18.316443,0.374980,0.688868,61.276919,15.714995,0.358436,0.726810
83936,2019,1403,1276,68.223300,19.576994,0.342600,0.704585,61.276919,15.714995,0.358436,0.726810
83937,2014,1246,1455,76.513586,25.722101,0.313601,0.672811,72.970850,20.159938,0.341617,0.728467
83938,2015,1458,1246,65.931664,16.270968,0.338156,0.728723,75.075715,24.381730,0.340119,0.672337

In [109]:
print('Regular Season compact Results :\n', df_matches.isnull().sum())

Regular Season compact Results :
 Season                0
WTeamID               0
LTeamID               0
Wrebound_count        0
Wintercept_count      0
W3_points_rate      205
Wfree_throw_rate    205
Lrebound_count        0
Lintercept_count      0
L3_points_rate      527
Lfree_throw_rate    527
dtype: int64